@import "tailwindcss";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
}

.deals-swiper {
  overflow: visible !important;
}

.deals-swiper .swiper-wrapper {
  padding-top: 18px;
  padding-bottom: 18px;
}