:root{
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #ff4d4d;

  --text-primary: #111111;
  --text-secondary: #666666;

  --border-color: #e5e5e5;

  --container-width: 1400px;
}